django
django-bootstrap4
pillow
easy-thumbnails
django-cleanup
djangorestframework
django-cors-headers
django-crispy-forms
python-dotenv
social-auth-app-django
# https://docs.djangoproject.com/en/3.0/ref/contrib/gis/install/geolibs/
# sudo apt-get install binutils libproj-dev gdal-bin
# sudo apt-get install libgdal-dev
# pip install gdal==2.2.3 --global-option=build_ext --global-option="-I/usr/include/gdal/"
GDAL
django-map-widgets
django-extra-views
selenium
django-extra-views
django-debug-toolbar

