{% extends 'main/layout.html' %}

{% block body %}
<div class="conteiner p-5">
<h2 class="center">О сайте</h2>
<p>Сайт разработан в качестве финального проэкта на курсе <a href="https://cs50.harvard.edu/web/2020/">CS50’s Web Programming with Python and JavaScript</a></p>
<p>На проэкте использовались:</p>
<ul>
    <li>Тема основной страницы и страницы объявления - <a href="https://www.zerotheme.com/32873/zpinpin-free-bootstrap-theme.html">zPinPin</a></li>
    <li>Сайт был создан с помощью книги <a href="https://bhv.ru/product/django-2-1-praktika-sozdaniya-veb-sajtov-na-python/">Владимира Дронова "Django 2.1 Практика создания сайтов на Python"</a> </li>
</ul>
</div>
{% endblock %}
