{% extends 'main/layout.html' %}
{% load static %}

{% block body %}
<header>
	<div class="logo">
	  <a href="index.html"><img src="{% static 'main/images/logo.png' %}"></a>
	</div>
</header>	
<div class="conteiner p-5">
<h2 class="center">О сайте</h2>
<p>
	Нам часто нужно сделать определенную работу, в которой мы можем быть не очень компетентны. Например: ремонт в доме, ремонт электроники, настройка компьютера, ландшафтный дизайн, ремонт автомобиля. 
</p>
<p>
	Возможно нам нужно сделать что-то не сложное, но требующее много времени, которого у нас нет. Например: клининг, выгул домашних животных, уход за пожилыми людьми и т.д. 
</p>
<p>
	Или у нас нет необходимого оборудования. Например: услуги эвакуатора, доставка крупных грузов, химчистка, бурение скважин, сварочные работы...
</p>
<p>
	Конечно, существуют различные крупные и не очень крупные компании, готовые предоставить все необходимые услуги. Но они есть не в каждом городе и их услуги могут стоить намного больше, чем услуги частного лица. С другой стороны, есть много людей, компетентных в разных сферах жизнедеятельности, которые хотели бы немного подработать и готовы помочь нам с нашей проблемой. Но где их искать? И как узнать, насколько они авторитетны? Данный проект нацелен на решение этой задачи.
</p>

</div>
{% endblock %}
