{% extends 'main/layout.html' %}
{% load static %}

{% block body %}
<header>
	<div class="logo">
	  <a href="index.html"><img src="{% static 'main/images/logo.png' %}"></a>
	</div>
</header>	
<div class="conteiner p-5">
<h2 class="center">About</h2>
<p>
	We often need to do certain work in which we may not be very competent. For example: home repair, electronics or car repair, computer setup, landscape design.
</p>
<p>
	Perhaps we need to do something not difficult, but time-consuming, and we don't have a time. For example: cleaning, walking pets, caring for the elderly, etc.
</p>
<p>
	Or we don't have the necessary equipment. For example: tow truck services, delivery of large cargo, dry cleaning, well drilling, welding...
</p>
<p>
	Of course, there are various large and small companies that are ready to provide all the necessary services. But they are not in every city and their services can cost much more than the services of a private person. On the other hand, there are many people competent in different spheres of life who would like to earn a little extra money and are ready to help us with our problems. But where to find them? And how do you know how authoritative they are? This project aims to address these tasks.
</p>

</div>
{% endblock %}
