{% extends 'main/layout.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %} Настройка профиля {% endblock %}

{% block body %}
<div class="container p-5">
<h2>Настройка профиля пользователя {{ user.username }}</h2>
<form method="POST">
    {% csrf_token %}
    {% bootstrap_form form layout="vertical"%}
    <div class="form-group">
    <label for="locationId">Выбор населенного пункта</label>
    <input type="text" list="locations" class="form-control" name="search" id="locationId" placeholder="Введите название населенного пункта">
        <datalist id="locations">

        </datalist>
    </div>
    {% buttons submit='Сохранить' %}{% endbuttons %}
</form>
</div>
<script type="text/javascript" src="{% static 'main/js/location.js' %}"></script>
{% endblock %}