{% extends 'main/layout.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %} Edit offer {% endblock %}

{% block body %}
<div class="container p-5">
    <h2>Edit: {{ offer.title }}</h2>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form layout="vertical"%}
        <label for="id_location-0-name">Choose location</label>
        {% bootstrap_formset location layout='horizontal' show_label=False%}
        <datalist id="locations">
        </datalist>   
   
        <h3>Additional photo</h3>
        {% bootstrap_formset formset layout='horizontal' show_label=False%}
        {% buttons submit="Добавить" %} {% endbuttons %}
        {% buttons submit='Сохранить' %}{% endbuttons %}
    </form>
</div>
<script type="text/javascript" src="{% static 'main/js/location.js' %}"></script>
{% endblock %}