{% extends 'main/layout.html' %}
{% load static %}
{% load bootstrap4 %}
{% load custom_tags %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %} {{offer.title}} {% endblock %}

{% block body %}
    
	
    <div id="page-content" class="sub-page">
		<div class="container">
			<center><article>
				{% if user == offer.author %}
				<div class="edit-buttons">
					<a href="{% url 'main:offer_change' pk=offer.pk %}"><i class="fa fa-pencil"></i></a>
					<a href="{% url 'main:offer_delete' pk=offer.pk %}"><i class="fa fa-close"></i></a>
				</div>
				{% endif %}
				{% if offer.image %}				
				<a class="main-image-link item" href="{{ offer.image.url }}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="main-image" src="{{ offer.image.url }}" alt=""/></a>
				
					{% for img in additional_images %}					
					<a class="main-image-link" href="{{ img.image.url }}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="additional-image" src="{{img.image.url}}" alt=""/></a>					
					{% endfor %}
				{% endif %}
				<div class="content-item">
					<span class="time"><a class="btn btn-small btn-{{offer.category.super_category.order}}" href="{% url 'main:by_category' pk=offer.category.pk %}">{{offer.category.name}}</a> {{ offer.created }}</span>
					<h3 class="title-item"><a href="#">{{offer.title}}</a></h3>
					<ul class="list-inline">
						<li class="list-inline-item"><i class="fa fa-eye"></i> {{ offer.reviews }} </li>
						<li class="list-inline-item"><i class="fa fa-comment"></i> {{offer.comment_set.count}}</li>
						<li class="list-inline-item"><i class="fa fa-heart 
							{% if user|in_followers:offer.author %}
							liked
							{% endif %}							
							"></i> 
							{{ offer.author.followers.count }} </li>
						<li class="list-inline-item"><i class="fa fa-share"></i> {{offer.shared}}</li>
					</ul>
					<p class="info">{{ offer.content }}</p>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> </a>
					<span class="user f-right">Размещено 
						<a href="{% url 'main:profile_by_id' pk=offer.author.pk %}">
							{% if offer.author.first_name and offer.author.last_name %}
                        		{{offer.author.first_name}} {{offer.author.last_name}}
                        	{% else %}
                        		{{offer.author}}
                        	{% endif %}
						</a>
						{% if offer.author.avatar.image %}
						<img class="border chat-image rounded-circle" src="{% thumbnail offer.author.avatar.image 'default' %}" alt="">
						{% else %}
						<img class="border chat-image rounded-circle" style="background-color: #777;" src="{% static 'main/images/profile-ph.png' %}" alt="">
						{% endif %}
					</span>
				</div>
				</article></center>
				
						
			{% for comment in comments %}
			<center><article class="my-2 p-1">
				<div class="comment"> 
					<div class="comment-head border-bottom-1">						
						<span class="small text-muted">{{comment.created}}</span>
										
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-3">
							<div class="d-flex justify-content-center align-item-center ">							
								<a href="{% url 'main:profile_by_id' pk=comment.author.pk %}">
									{% if comment.author.avatar.image %}
									<img src="{{comment.author.avatar.image.url}}" class="comment-img">
									{% else %}
									<img class="border profile-img" style="background-color: #777;" src="{% static 'main/images/profile-ph.png' %}" alt="">
									{% endif %}
							</div>
							<div class="center">
							{% if comment.author.first_name and comment.author.last_name %}
							{{comment.author.first_name}} {{comment.author.last_name}}                       	
							{% endif %}
							<div>
								{% if comment.author.average_rating %}
								{% show_rating comment.author.average_rating %}
								{% else %}
									<i class="fa fa-star" style="color: #ddad10;"></i>
									<i class="fa fa-star" style="color: #ddad10;"></i>
									<i class="fa fa-star" style="color: #ddad10;"></i>
									<i class="fa fa-star" style="color: #ddad10;"></i>
									<i class="fa fa-star" style="color: #ddad10;"></i>
								{% endif %}							
							</div>
							</div>
						</a>
						</div>
						<div class="col-lg-6 col-md-6">
							<p>{{comment.content}} </p>
							
						</div>	
						<div class="col-lg-3 col-md-3">
							<div class="center">									
									<div class="comment-price">
										{% if comment.price %}
										<span class="uah">&#8372</span>
										{{comment.price}}
										{% endif %}
										{% if comment.time_amount and comment.measure %}
										<span class="comment-time">/ {{comment.time_amount }} {% time_measure pk=comment.pk %}</span>
										{% endif %}
									</div>
									{% if user == offer.author %}
									{% if offer.status == 'n' %}									
										<button class="btn btn-success acceptButton" data-offer="{{offer.id}}" data-winner="{{comment.author.id}}">Принять</button>									
									{% elif offer.status == 'a' %}
									<a href="{% url 'main:chat' offer_pk=offer.id %}" class="btn btn-outline-primary my-2" >Чат</a>
									<button class="btn btn-outline-danger cancelButton" data-offer="{{offer.id}}" data-winner="{{comment.id}}">Отклонить</button>
									<a href="{% url 'main:user_review' offer_pk=offer.pk user_pk=comment.author.pk %}"class="btn btn-success">Выполнен</a>								

									{% endif %}
									{% endif %}
									{% if user == offer.winner %}
									<a href="{% url 'main:chat' offer_pk=offer.id %}" class="btn btn-outline-primary my-2" >Чат</a>
									{% endif %}
							</div>
						</div>
						
					</div>
				</div>
			</article></center>
			{% endfor %}
			{% if user != offer.author or offer.status == 'n'%}
			<center><article class="my-2">
				<h3 class="center">Откликнуться</h3>
				<div class="comment-form p-2">
					<form method="POST">
						{% csrf_token %}
						{{form.author }}
						{{form.offer }}
						<div class="form-row mb-0">
							<div class="form-group col-lg-4 mb-0">
								{{ form.price|as_crispy_field  }}
							</div>
							<div class="form-group col-lg-4 mb-0">
								{{ form.time_amount|as_crispy_field  }}
							</div>
							<div class="form-group col-lg-4 mb-0">
								{{ form.measure|as_crispy_field  }}
							</div>
						</div>
						<div class="form-group">						
							{{ form.content|as_crispy_field  }}
						</div>
						
						{% buttons submit="Отправить" %} {% endbuttons %}
					</form>
				</div>			
			</article></center>
			{% endif %} 
			
		</div>
	</div>
	
{% endblock %}