{% extends 'main/layout.html' %}
{% load static %}
{% load bootstrap4 %}
{% load custom_tags %}
{% load thumbnail %}

{% block title %} Избранное {% endblock %}

{% block body %}
<div id="page-content" class="index-page">
    <div id="container">

{% for offer in offers %}

        {% include "main/offer_template.html" %}

{% empty %}
<p>Sorry, there is no active listings in Favorite category</p>
{% endfor %}
{% if offers %}
</div>  
    <div class="d-flex justify-content-center">
        {% bootstrap_pagination page url=keyword %}    
    </div>       
</div>
{% endif %}

{% endblock %}