{% extends 'main/layout.html' %}
{% load static %}

{% block  title %}main{% endblock %}

{% block body %}
	
	
    <header>
		<div class="logo mt-3">
			<a href="index.html"><img src="{% static 'main/images/logo.png' %}"></a>
		</div>
    </header>
    
	<div id="page-content" class="index-page">
		<div id="container">
			<!-- These are our grid blocks -->
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/01.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/01.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a href="#" class="btn btn-small btn-1">More</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Agfa</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.</p>
					<ul class="list-inline">
						<li class="list-inline-item"><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li class="list-inline-item"  class="list-inline-item"  class="list-inline-item"><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-1.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/02.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="/images/02.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a href="#" class="btn-small btn-2">Tech</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Auto</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.</p>
					<ul class="list-inline">
						<li class="list-inline-item"  class="list-inline-item"><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li class="list-inline-item"  class="list-inline-item"><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li class="list-inline-item"  class="list-inline-item"><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li class="list-inline-item"  class="list-inline-item"><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-2.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/03.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/03.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-3">Life</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Bald eagle</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.</p>
					<ul class="list-inline">
						<li class="list-inline-item"><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-3.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/04.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/04.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-3">Life</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Black swan</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.Aenean feugiat in ante et blandit. Vestibulum e risu.</p>
					<ul class="list-inline">
						<li class="list-inline-item"><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-4.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/05.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/05.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-4">Business</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Book shelf</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risu.</p>
					<ul class="list-inline">
						<li class="list-inline-item"><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-5.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/06.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/06.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-2">Tech</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Camera</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risu.Aenean feugiat in ante et blandit. Vestibulum e risu.</p>
					<ul class="list-inline">
						<li class="list-inline-item"><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-6.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/07.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/07.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-2">Tech</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Camera</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risu.</p>
					<ul class="list-inline">
						<li class="list-inline-item"><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-6.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/08.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/08.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-2">Tech</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Vintage camera</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-7.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/09.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/09.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-5">Entertainment</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Coffee</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-8.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/10.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/10.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-3">Life</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Cookies</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-9.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/12.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/12.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-5">Entertainment</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">DJ</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.Aenean feugiat in ante et blandit. Vestibulum e risu.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-4.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/11.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/11.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-1">More</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Cubes</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.Aenean feugiat in ante et blandit. Vestibulum e risu.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-4.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/13.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/13.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-1">More</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Doors</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-2.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/14.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/14.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-4">Business</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Matchbox</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.Aenean feugiat in ante et blandit, Vestibulum e risu. Aenean feugiat in ante et blandit.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-8.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/15.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/15.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-4">Business</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Freiburg</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.Aenean feugiat in ante et blandit.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-4.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/16.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/16.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-1">More</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Henna</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. nte et blandit, Vestibulum e risu. Aenean feugiat in ante et blandit.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-1.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/17.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/17.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-2">Business</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Home office</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.Aenean feugiat in ante et blandit, Vestibulum e risu. Aenean feugiat in ante et blandit.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-3.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/18.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/18.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-3">Business</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">iPad</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.Aenean fenean feugiat in ante et blandit.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-5.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/19.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/19.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-4">Keyboard</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Matchbox</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac i, Vestibulum e risu. Aenean feugiat in ante et blandit.Vestibulum e risu. Aenean feugiat in ante et blandit.Vestibulum e risu. Aenean feugiat in ante et blandit.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-6.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/20.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/20.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-5">Business</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Lynx</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.Aenean feugiat in ante et blandit, Vestibulum e risu. Aenean feugiat in ante et blandit.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-8.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/21.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/21.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-1">Business</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Mac</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.Aenean feugiat in ante et blandit, Vestibulum e risu. Aenean feugiat in ante et blandit.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-9.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/22.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/22.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-2">Tech</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Notebook</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.Aenean feugiat in ante et blandit, Vestibulum e risu. Aenean feugiat in ante et blandit.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-6.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/23.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/23.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-3">Life</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Thoughts</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.Aenean feugiat in ante et blandit, Vestibulum e risu. Aenean feugiat in ante et blandit.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-4.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/24.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/24.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-4">Business</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Office</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.Aenean feugiat in ante et blandit, Vestibulum e risu. Aenean feugiat in ante et blandit.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-2.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/25.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/25.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-5">Entertainment</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Children</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.Aenean feugiat in ante et blandit, Vestibulum e risu. Aenean feugiat in ante et blandit.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-9.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/26.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/26.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-1">More</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Portrait</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.Aenean feugiat in ante et blandit, Vestibulum e risu. Aenean feugiat in ante et blandit.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-1.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/27.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/27.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-2">Tech</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Startup</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.Aenean feugiat in ante et blandit, Vestibulum e risu. Aenean feugiat in ante et blandit.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-8.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/28.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/28.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-3">Life</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Sun</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.Aenean feugiat in ante et blandit, Vestibulum e risu. Aenean feugiat in ante et blandit.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-2.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/29.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/29.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-4">Business</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">The Eiffel Tower</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.Aenean feugiat in ante et blandit, Vestibulum e risu. Aenean feugiat in ante et blandit.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-3.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
			<div class="item">
				<!-- <a class="example-image-link" href="{% static 'main/images/30.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/30.jpg" alt=""/></a> -->
				<div class="content-item">
					<span class="time"><a class="btn btn-5">Entertainment</a> SEPTEMBER 30TH</span>
					<h3 class="title-item"><a href="#">Water drops</a></h3>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.Aenean feugiat in ante et blandit, Vestibulum e risu. Aenean feugiat in ante et blandit.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-eye"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-comment"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 260</a></li>
						<li><a href="#"><i class="fa fa-share"></i> 260</a></li>
					</ul>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<span class="user f-right">Posted by <a href="#">Jason Lemon</a><img src="{% static 'main/images/ava-6.jpg' %}" class="rounded-circle"></span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}	
