{% extends 'main/layout.html' %}
{% load static %}
{% load thumbnail %}
{% load bootstrap4 %}
{% load custom_tags %}



{% block  title %} Main page {% endblock %}

{% block body %}

<header>
	<div class="logo">
	  <a href="{% url 'main:index' %}"><img src="{% static 'main/images/logo.png' %}"></a>
	</div>
  </header>	
    
	<div id="page-content" class="index-page">
		<div id="container">
	{% for offer in offers %}
			{% include "main/offer_template.html" %}
	
	{% endfor %}
	</div>  
		<div class="d-flex justify-content-center">
			{% bootstrap_pagination page url=keyword %}    
		</div>   
	</div>
	
{% endblock %}	
