{% load bootstrap4 %}
{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   
    <title>Shabashka {% block title %}{% endblock %} '{{ HOSTING_NAME_S }}</title>

	{% bootstrap_css %}
 
	
	<!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
	
	<!-- Custom Fonts -->
  <!-- <link rel="stylesheet" href="{% static 'main/font-awesome-4.4.0/css/font-awesome.min.css' %}"  type="text/css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  

	<link rel="stylesheet" href="{% static 'main/css/lightbox.css' %}">
	
	
  {% bootstrap_javascript jquery="min" %}
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->

    {{form.media}}
</head>

<body>

    {% block navbar %}
    <!-- Static navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'main:index' %}">Shabashka</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        {% with url_name=request.resolver_match.url_name %}
        <ul class="navbar-nav">
          <li class="nav-item {% if url_name == 'index' %} active {% endif %}">            
            <a class="nav-link" href="{% url 'main:index' %}"><i class="fa fa-home"></i> Главная <span class="sr-only">(current)</span></a>
          </li> 
          <li class="nav-item {% if url_name == 'add_new_offer' %} active {% endif %}">
            <a class="nav-link" href="{% url 'main:add_new_offer' %}"><i class="fa fa-plus"></i> Создать</a>
          </li> 
          <li class="nav-item dropdown {% if url_name == 'by_category' %} active {% endif %}">
            <a class="nav-link dropdown-toggle" href="#" id="categories-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-list"></i> Категории
            </a>      
          </li>                  
          <li class="nav-item {% if url_name == 'favorite' %} active {% endif %}">
              <a class="nav-link" href="{% url 'main:favorite' %}"><i class="fa fa-heart"></i> Избранное</a>
          </li>      
          <form class="form-inline my-2 my-lg-0">
            {% if searchForm %}
            {% bootstrap_form searchForm show_label=False %}
            {% else %}
            <div class="form-group">
            <input class="form-control mr-sm-1" type="search" name="keyword" placeholder="Поиск предложений" aria-label="Search">
            </div>
            {% endif %}
            <div class="input-group">            
            <button class="btn btn-search my-2 ml-sm-1 my-sm-0" type="submit">Поиск</button>            
            </div>                      
          </form>          
        </ul>            
          <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}  
          <li class="nav-item dropdown {% if url_name == 'profile' %} active {% endif %}">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% if request.user.avatar.image %}
              <img class="border top-social rounded-circle" src="{% thumbnail request.user.avatar.image 'default' %}" alt="">
              {% else %}
              <img class="border top-social rounded-circle" style="background-color: #777;" src="{% static 'main/images/profile-ph.png' %}" alt="">
              {% endif %}              
              <!-- <i class="fa fa-user"></i> Аккаунт -->
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">             
              <a class="dropdown-item" href="{% url 'main:profile' %}">Профиль</a>
              <a class="dropdown-item" href="{% url 'main:chat_list' %}">Сообщения</a>
              <a class="dropdown-item" href="{% url 'main:logout' %}">Выйти</a>              
            </div>            
          </li>
          {% else %}
            <li class="nav-item {% if url_name == 'login' %} active {% endif %}">
              <a class="nav-link mt-lg-2" href="{% url 'main:login' %}">Войти</a>
            </li>               
          {% endif %}
          <li class="nav-item {% if url_name == 'other' %} active {% endif %}">
            <a class="nav-link mt-lg-2" href="{% url 'main:other' page='about' %}"><i class="fa fa-info"></i> О сайте</a>
          </li>
        </ul>
        {% endwith %}
      </div>
    </nav>
    <div class="categories-hidden">
    <div class="dropdown categories d-flex flex-wrap justify-content-around" aria-labelledby="categories-dropdown">
      
      {% for category in categories %}
      {% ifchanged category.super_category.pk %}
      {% if forloop.first %}      
      <div class="categories-item">
      {% else %}
      </div> 
      <div class="categories-item">
      {% endif %}
      <h6>{{category.super_category.name}}</h6>
      {% endifchanged %}      
      <div><a class="font-weight-bold" href="{% url 'main:by_category' pk=category.pk %}">{{category.name}}</a></div>
      {% endfor %} 
    </div>     
    </div>
    </div>
    <div class="center">
    {% bootstrap_messages %}
    </div>
    {% endblock %}
    
    
    {% block body %}
    {% endblock %}

  <!-- Once the page is loaded, initialized the plugin. -->    
	
	<!-- jQuery Pinterest -->
    <script type="text/javascript" src="{% static 'main/js/jquery.pinto.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>
	  <script src="{% static 'main/js/lightbox.js' %}"></script>
</body>
</html>
