{% extends 'main/layout.html' %}
{% load bootstrap4 %}

{% block title %} Вход {% endblock %}

{% block body %}
<div class="center">
<h2>Вход</h2>
{% if user.is_authenticated %}
<p> Вы уже выполнили вход</p>
{% else %}       
    <form class="form center" method="POST">
    {{form.error}}
    {% csrf_token %}
    {% bootstrap_form form layout="vertical" show_label=False %}
    <input type="hidden" name="next" value="{{next}}"> 
    <button type="submit" class="btn btn-outline-primary btn-block " >Войти</button>
    </form>     

{% endif %}
</div>
{% endblock %}