{% extends 'main/layout.html' %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block title %} Login {% endblock %}




{% block body %}
<header>
	<div class="logo">
	  <a href="index.html"><img src="{% static 'main/images/logo.png' %}"></a>
	</div>
</header>

{% if user.is_authenticated %}
<p> You are currently logged in</p>
{% else %}       
<!-- Modal HTML -->
<div id="loginModal" class="modal fade">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<div class="modal-header">
				<div class="avatar">
					<img src="{% static 'main/images/profile-ph.png' %}" alt="Avatar">
				</div>				
				<h4 class="modal-title">Login</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<form action="/accounts/login/" method="post">
					{% csrf_token %}
					<input type="hidden" name="next" value="{{next}}">					
					{% crispy form %}					
				</form>
			</div>
				<div class="modal-social center">
					<div>Login with:</div>
						<a href="{% url 'main:social:begin' 'facebook'%}" title="Login with Facebook" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
						<a href="{% url 'main:social:begin' 'google-oauth2' %}" title="Login with Google" class="btn btn-gg"><i class="fa fa-google-plus-square"></i> Google +</a>
				</div>
			<div class="modal-footer">
				<a href="{% url 'main:password_reset' %}">Forgot password?</a>
				
			</div>
			
			<div class="text-center modal-register">Have no account? <a href="{% url 'main:register_user' %}" >Sign up</a>.</div>
		</div>
	</div>
</div> 
   
<div class="container">
   
        <center><article class="py-5 center">                  
			<h1>We are happy to welcome you!</h1>
			<a href="#" class="loginShow mx-2">Login</a> <a href="{% url 'main:register_user' %}">Sign up</a>
    	</article> </center> 
    
</div>

{% endif %}
<script>
	document.addEventListener('DOMContentLoaded', function() {
		$("#loginModal").modal("show");

		$(".loginShow").click(function(){			
			$("#loginModal").modal("show");			
		})
		
		
		
	});
</script>
{% endblock %}

