{% extends 'main/layout.html' %}

{% block title %} Активация выполнена {% endblock %}

{% block body %}
<div class="container center">
    <div class="signup-form">
   <h2>Восстановление пароля</h2>
   <p class="lead">Введите свою электронныю почту.</p>
   <form method="post">
       {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
            <input type="email" class="form-control" name="email" placeholder="Email адрес" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Восстановить пароль</button>
        </div>
    </div>
   </form> 
</div>
</div>


{% endblock %}