{% extends 'main/layout.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block title %} Password recovery {% endblock %}

{% block body %}
<div class="container p-5 center">
{% if validlink %}
<div class="signup-form">
<form method="POST">
    <h2>Password recovery {{ user.username }}</h2>
    <p class="lead">Enter new password and confirmation.</p>
    {% csrf_token %}        
    <div class="form-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" name="new_password1" placeholder="Password" required="required">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="fa fa-lock"></i>
                <i class="fa fa-check"></i>
            </span>
            <input type="password" class="form-control" name="new_password2" placeholder="Password confirmation" required="required">
        </div>
    </div>
    <div class="errors">
        {{ form.non_field_errors }}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block btn-lg">Change password</button>
    </div>
</form>
</div>
{% else %}
    <p>The link is not validThe password reset link was invalid, possibly because it has
            already been used. Please request a new password reset.</p>
{% endif %}
</div>
{% endblock %}