{% extends 'main/layout.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block title %} Смена пароля {% endblock %}

{% block body %}
<div class="container p-5 center">
{% if validlink %}
<div class="signup-form">
<form method="POST">
    <h2>Изменение пароля пользователя {{ user.username }}</h2>    
    <p class="lead">Введите новый пароль и подтверждеине.</p>
    {% csrf_token %}        
    <div class="form-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" name="new_password1" placeholder="Пароль" required="required">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="fa fa-lock"></i>
                <i class="fa fa-check"></i>
            </span>
            <input type="password" class="form-control" name="new_password2" placeholder="Подтверждение пароля" required="required">
        </div>
    </div>
    <div class="errors">
        {{ form.non_field_errors }}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block btn-lg">Изменить пароль</button>
    </div>
</form>
</div>
{% else %}
    <p>Ссылка на смену пароля не актуальна. Возможно потому, что она уже была использована.</p>
    <p>Попробуйте сбросить пароль снова</p>
{% endif %}
</div>
{% endblock %}