{% extends 'main/layout.html' %}
{% load static %}
{% load custom_tags %}

{% block title %} Профиль {% endblock %}

{% block body %}

<div class="container py-5">
    <div class="row">
        <div class="col-lg-3">
            <img class="border profile-img" style="background-color: #777;" src="{% static 'main/images/profile-ph.png' %}" alt="">
        </div>
        <div class="col-lg-9">
            <h3>Профиль пользователя {{ user.username }}</h3>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6">           
                    <div><b> Имя:</b> {{user.first_name}} {{user.last_name}} </div>
                    <div><b>Город:</b>  Скадовск</div>
                    <div><b>Рейтинг:</b> 
                        <i class="fa fa-star" style="color: #ddad10;"></i>
                        <i class="fa fa-star" style="color: #ddad10;"></i>
                        <i class="fa fa-star" style="color: #ddad10;"></i>
                        <i class="fa fa-star" style="color: #ddad10;"></i>
                        <i class="fa fa-star-half-full" style="color: #ddad10;"></i>
                        <a href="#">(5 отзывов)</a>
                    </div>            
                    <div><b>Успешных сделок:</b> 22</div>                               
                </div>
                {% if user == request.user %}
                <div class="col-lg-4 col-md-4 col-sm 6">
                    <div><a href="{% url 'main:profile_change' %}" class="mx-1"><i class="fa fa-user"></i> Сменить аватар </a></div>
                    <div><a href="{% url 'main:profile_change' %}" class="mx-1"><i class="fa fa-pencil"></i> Редактировать профиль </a></div>
                    <div><a href="{% url 'main:password_change' %}" class="mx-1"><i class="fa fa-lock"></i> Изменить пароль </a></div>
                    <div><a href="{% url 'main:profile_delete' %}" class="mx-1"><i class="fa fa-close"></i> Удалить профиль </a></div>           
                {% else %}                
                    <a href="#"><i class="fa fa-user-plus"></i> Подписаться</a>
                </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
<hr>
<div id="page-content" class="index-page">
<div id="container">
{% for offer in offers %}
<div class="item">            
    <div class="content-item">
        {% url 'main:detail' category_pk=offer.category.pk pk=offer.pk as url %}
        <a href="{% url 'main:by_category' pk=offer.category.pk %}" class="btn btn-small btn-{{offer.category.super_category.order}}">{{offer.category.name}}</a>
        <div class="time"> {{offer.created}}</div>
        <h3 class="title-item"><a href="{{url}}{{all}}">{{offer.title}}</a></h3>
        <p class="info">{% limit_text offer.content %}</p>
        <ul class="list-inline">            
            <li class="list-inline-item"><i class="fa fa-eye"></i> {{ offer.reviews }} </li>
            <li class="list-inline-item"><i class="fa fa-comment"></i> {{offer.comment_set.count}}</li>
            <li class="list-inline-item"><i class="fa fa-heart"></i>  0</li>
            <li class="list-inline-item"><i class="fa fa-share"></i> {{offer.shared}}</li>
        </ul>
    </div>
    <div class="bottom-item">
        <a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> </a>
        <span class="mx-3"><span class="uah">&#8372</span> {{offer.price}}</span>
        <span class="user f-right">Размещено 
            <a href="{% url 'main:profile_by_id' pk=offer.author.pk %}">
                {% if offer.author.first_name and offer.author.last_name %}
                {{offer.author.first_name}} {{offer.author.last_name}}
                {% else %}
                {{offer.author}}
                {% endif %}
            </a><img src="{% static 'main/images/ava-1.jpg' %}" class="rounded-circle"></span>
    </div>
</div>


{% endfor %}
</div>
</div>
</div>
{% endblock %}