{% extends 'main/layout.html' %}
{% load static %}
{% load thumbnail %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load custom_tags %}


{% block title %} Профиль {% endblock %}

{% block body %}
{% if user == request.user %}
<div id="avatarModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Сменить аватар</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>        
        <div class="modal-body center">
            <form method="POST" enctype="multipart/form-data">    
                <div>
                    {% if user.avatar.image %}
                    <img class="border profile-img" src="{{user.avatar.image.url}}" alt="">
                    {% else %}
                    <img class="border profile-img" style="background-color: #777;" src="{% static 'main/images/profile-ph.png' %}" alt="">
                    {% endif %}
                </div>
                {% csrf_token %}
                {% bootstrap_form avatar_form alert_error_type='all' %}
                {% bootstrap_form_errors avatar_form %}
                
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </form>
      </div>
    </div>
</div>

{% endif %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-3">
            {% if user.avatar.image %}
            <img class="border profile-img"  src="{{user.avatar.image.url}}" alt="">
            {% else %}
            <img class="border profile-img" style="background-color: #777;" src="{% static 'main/images/profile-ph.png' %}" alt="">
            {% endif %}
        </div>
        <div class="col-lg-9">            
            <h3>Профиль пользователя {{ user.username }}</h3>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6">           
                    <div><b> Имя:</b> {{user.first_name}} {{user.last_name}} </div>
                    <div><b>Город:</b> {% if user.location %} {{user.location}} {% else %} Не указан{% endif %}</div>
                    <div><b>Рейтинг:</b> 
                        {% if reviews %}
                        {% show_rating user.average_rating %}
                        {% else %}
                        <i class="fa fa-star" style="color: #ddad10;"></i>
                        <i class="fa fa-star" style="color: #ddad10;"></i>
                        <i class="fa fa-star" style="color: #ddad10;"></i>
                        <i class="fa fa-star" style="color: #ddad10;"></i>
                        <i class="fa fa-star" style="color: #ddad10;"></i>
                        {% endif %}
                        <a href="{% url 'main:reviews' user_id=user.id %}">(отзывов - {{reviews|default_if_none:"0"}}) </a>
                    </div>            
                    <div><b>Успешных сделок: </b>{{reviews|default_if_none:"0"}}</div>
                                               
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm 6">
                {% if user == request.user %}    
                    <div><a href="#avatarModal" class="mx-1" data-toggle="modal" data-target="#avatarModal"><i class="fa fa-user"></i> Сменить аватар </a></div>
                    <div><a href="{% url 'main:profile_change' %}" class="mx-1"><i class="fa fa-pencil"></i> Редактировать профиль </a></div>
                    <div><a href="{% url 'main:password_change' %}" class="mx-1"><i class="fa fa-lock"></i> Изменить пароль </a></div>
                    <div><a href="{% url 'main:profile_delete' %}" class="mx-1"><i class="fa fa-close"></i> Удалить профиль </a></div>           
                {% else %}                
                    <a href="#"><i class="fa fa-user-plus"></i> Подписаться</a>
                
                {% endif %}
                </div>
            </div>
        </div>
    </div>


<hr>
<div id="page-content" class="index-page">
    <div id="container">
        {% for offer in offers %}
        <div class="item">            
            <div class="content-item">
                {% url 'main:detail' category_pk=offer.category.pk pk=offer.pk as url %}
                <a href="{% url 'main:by_category' pk=offer.category.pk %}" class="btn btn-small btn-{{offer.category.super_category.order}}">{{offer.category.name}}</a>
                <div class="time"> {{offer.created}}</div>
                <h3 class="title-item"><a href="{{url}}{{all}}">{{offer.title}}</a></h3>
                <p class="info">{% limit_text offer.content %}</p>
                <ul class="list-inline">            
                    <li class="list-inline-item"><i class="fa fa-eye"></i> {{ offer.reviews }} </li>
                    <li class="list-inline-item"><i class="fa fa-comment"></i> {{offer.comment_set.count}}</li>
                    <li class="list-inline-item"><i class="fa fa-heart"></i>  0</li>
                    <li class="list-inline-item"><i class="fa fa-share"></i> {{offer.shared}}</li>
                </ul>
            </div>
            <div class="bottom-item">
                <a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> </a>
                <span class="mx-3"><span class="uah">&#8372</span> {{offer.price}}</span>
                <span class="user f-right">Размещено 
                    <a href="{% url 'main:profile_by_id' pk=offer.author.pk %}">
                        {% if offer.author.first_name and offer.author.last_name %}
                        {{offer.author.first_name}} {{offer.author.last_name}}
                        {% else %}
                        {{offer.author}}
                        {% endif %}
                    </a>
                    {% if user.avatar.image %}
                    <img class="border profile-img rounded-circle" src="{% thumbnail user.avatar.image 'default' %}" alt="">
                    {% else %}
                    <img class="border profile-img rounded-circle" style="background-color: #777;" src="{% static 'main/images/profile-ph.png' %}" alt="">
                    {% endif %}
                    
                </span>
            </div>
        </div>


        {% endfor %}
    </div>
</div>
</div>

{% endblock %}