{% extends 'main/layout.html' %}

{% load static %}
{% load bootstrap4 %}
{% load custom_tags %}


{% block title %} Отзывы {% endblock %}

{% block body %}
<div class="containeer">
    <center><article>
        <h3>Отызвы о пользователе - 
            {% if user.first_name and user.last_name %}
                {{user.first_name}} {{user.last_name}}
            {% else %}
                {{user}}
            {% endif %}
        </h3>
    </article></center>
    {% for review in reviews %}
    <center><article class="my-2 p-1">
        <div class="comment"> 
            <div class="comment-head border-bottom-1">						
                <span class="small text-muted">{{review.created}}</span>
                                
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="d-flex justify-content-center align-item-center ">							
                        <a href="{% url 'main:profile_by_id' pk=review.author.pk %}">
                            {% if review.author.avatar.image %}
                            <img src="{{user.avatar.image.url}}" class="comment-img">
                            {% else %}
                            <img class="border profile-img" style="background-color: #777;" src="{% static 'main/images/profile-ph.png' %}" alt="">
                            {% endif %}
                    </div>
                    <div class="center">
                    {% if review.author.first_name and review.author.last_name %}
                    {{review.author.first_name}} {{review.author.last_name}}                       	
                    {% endif %}
                    <div>
                            {% if review.author.average_rating %}
                            {% show_rating review.author.average_rating %}
                            {% else %}
                                <i class="fa fa-star" style="color: #ddad10;"></i>
                                <i class="fa fa-star" style="color: #ddad10;"></i>
                                <i class="fa fa-star" style="color: #ddad10;"></i>
                                <i class="fa fa-star" style="color: #ddad10;"></i>
                                <i class="fa fa-star" style="color: #ddad10;"></i>
                            {% endif %}
                    </div>
                    </div>
                </a>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm3">
                            <div>Скорость: </div>
                            <div>Цена:     </div>
                            <div>Качество: </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col sm-6">
                            <div>{% show_rating review.speed %}</div>
                            <div>{% show_rating review.cost  %}</div>
                            <div>{% show_rating review.accuracy %}</div>
                        </div>    
                    </div>                       
                    <div class="mt-2">
                    <p>{{review.content}}</p>
                    </div>
                </div>	               
                
            </div>
        </div>
    </article></center>
    {% endfor %}
</div>
{% endblock %}